<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkS0epBNqhJn_VCS8hoLJTPjPpDo5LPxg</string>
	<key>GCM_SENDER_ID</key>
	<string>626861009403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sellerRentCar</string>
	<key>PROJECT_ID</key>
	<string>rent-car-42ec2</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-car-42ec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626861009403:ios:901a3501d933307553c35e</string>
</dict>
</plist>